@media only screen and (min-width: 1024px) {
    @import "../function.scss";

.header{
    height: 700px;
    background:{
        image:url("../img/promo.png");
        position:center;
    }
}

.header_title{
    margin: 28px 0 0 8px;
}

.authorisation {
    flex-direction: row-reverse;
}

.authorisation__links {
    justify-content: flex-end;
}

.authorisation__link--signin{
    width: 11.683%;
    margin-top: 17px;
    margin-right: 11px;
    margin-left: 19px;
}

.authorisation__link--login{
    margin-top: 18px;
}

.header__tagline{
    font-size: px(52);
    padding: 0 185px 0 184px;
    margin-top: 142px;
    line-height: 62px;
}

.header__tagline_text{
    margin-top: 28px;
    padding: 0 44px 0 43px;
    font-size: px(24);
}

.header__search_holiday_partner{
    margin: 37px auto 0px;
    width: 23.4375%;

}

.search_holiday_partner--link{
    padding: 0 3px 0 0;
}

/*HEAD END*/

.about__main_title{
    margin-top: 97px;
    padding-left: 0;
    padding-right: 3px;
}

.about__articles_wrapper{
    margin-top: 19px;
    flex-direction: row;
    justify-content: space-around;
}
.about__article__slide{
    width:300px;
    height: 401px;
}

.about__title{
    width: 29.7%;
    padding-left: 3px;
}

.pagination__wrapper{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    margin: 154px 0 0 0;
}

.about__article__slide--step1{
    background:{
        position: -754px center;
    }
}

.about__article__slide--step2{
    background:{
        position: -1304px center;
    }
}

.about__article__slide--step3{
    background:{
        position: -144px center;
    }
}

/*ABOUT END*/

.partners__main_title{
    margin-top: 87px;
    padding: 0 3px 0 0px;
}

.partner__wrapper {
    width: 257px;
    margin: 0 0 30px 0;
    padding: 5px;
}

.partners__list{
    margin-top: 31px;
    flex-wrap: nowrap;
}

.partner__icon{
    right: 50px;
    bottom: 6px;
}

.partners__search {
    width: 20%;
    margin-top: 0px;
}
/*PARTNERS END*/

.holidays__main_title {
    margin-top: 98px;
}
.holidays__idea{
    margin-bottom: 20px;
    width:30.73%;
    height: 311px;
}
.holidays__idea--wider{
    width: 64.063%;
}
.holidays__ideas_box{
    justify-content: space-around;
    padding-top: 19px;
}

/*HOLIDAYS END*/

.search__main_title {
    margin-top: 74px;
}

.search__question{
    margin-top: 33px;
}

.search_input{
    width: 25%;
    margin-right: 0;
    margin-top: 40px;
}

.search__btn{
    width: 160px;
    margin: 40px 0px 0 8px;
}

/*SEARCH END*/

.footer {
    margin: 100px 0 0;
}

.footer__wrapper{
    flex-direction: row;
    justify-content: initial;
    align-items:initial;
}

.footer__main_title{
    margin: 39px 0 0 9px;
}

.footer__menu {
    margin: 39px 0 0 96px;
    padding-right: 2px;
}

.footer__menu--partner{
    margin: 39px 0 0 91px;
}

.menu__item{
    text-align: left;
}

.submenu{
    flex-direction: column;
    margin: 16px 0 0 -7px;
}

.submenu__item {
    margin: 0 6px 10px 7px;
}

.footer__logo_wrapper {
    margin: 40px 0 0 368px;
}

.footer__designed {
    margin: 0 0 8px 30px;
}

/*FOOTER END*/
/*QUERY END*/
}